@font-face {
	font-family: "Sans";
	src: url("fonts/ROsanswebtextregular.eot?") format("embedded-opentype"),
	     url("fonts/ROsanswebtextregular.woff") format("opentype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "Sans";
	src: url("fonts/ROsanswebtextitalic.eot?") format("embedded-opentype"),
	     url("fonts/ROsanswebtextitalic.woff") format("opentype");
	font-style: italic;
	font-weight: normal;
}
@font-face {
	font-family: "Sans";
	src: url("fonts/ROsanswebtextbold.eot?") format("embedded-opentype"),
	     url("fonts/ROsanswebtextbold.woff") format("opentype");
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: "Serif";
	src: url("fonts/ROserifwebregular.eot?") format("embedded-opentype"),
	     url("fonts/ROserifwebregular.woff") format("opentype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "Serif";
	src: url("fonts/ROserifwebitalic.eot?") format("embedded-opentype"),
	     url("fonts/ROserifwebitalic.woff") format("opentype");
	font-style: italic;
	font-weight: normal;
}
@font-face {
	font-family: "Serif";
	src: url("fonts/ROserifwebbold.eot?") format("embedded-opentype"),
	     url("fonts/ROserifwebbold.woff") format("opentype");
	font-weight: bold;
	font-style: normal;
}

body {
  font-family: "Sans";
}

select {
    width: 150px;
    display: block;
    margin-bottom: 5px;
}

h2 {
    text-anchor: middle;
}

.legend-item {
    font-size: 26px;
    color: white;
    padding: 10px;
    border: 1px white solid;
}

rect {
    stroke: white;
    stroke-width: 1;
}

.domain {
    stroke-width: 0;
}

div.tooltip {	
    padding: 12px;
    position: absolute;		
    width: 150px;																
    background: #00374D;	
    border: 0px;				
    pointer-events: none;
    color: #ffffff;			
}

.tick line {
    stroke: "#cccccc";
}