@font-face {
	font-family: "Sans";
	src: url("fonts/ROsanswebtextregular.eot?") format("embedded-opentype"),
	     url("fonts/ROsanswebtextregular.woff") format("opentype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "Sans";
	src: url("fonts/ROsanswebtextitalic.eot?") format("embedded-opentype"),
	     url("fonts/ROsanswebtextitalic.woff") format("opentype");
	font-style: italic;
	font-weight: normal;
}
@font-face {
	font-family: "Sans";
	src: url("fonts/ROsanswebtextbold.eot?") format("embedded-opentype"),
	     url("fonts/ROsanswebtextbold.woff") format("opentype");
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: "Serif";
	src: url("fonts/ROserifwebregular.eot?") format("embedded-opentype"),
	     url("fonts/ROserifwebregular.woff") format("opentype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "Serif";
	src: url("fonts/ROserifwebitalic.eot?") format("embedded-opentype"),
	     url("fonts/ROserifwebitalic.woff") format("opentype");
	font-style: italic;
	font-weight: normal;
}
@font-face {
	font-family: "Serif";
	src: url("fonts/ROserifwebbold.eot?") format("embedded-opentype"),
	     url("fonts/ROserifwebbold.woff") format("opentype");
	font-weight: bold;
	font-style: normal;
}

body {
  font-family: "Sans";
}

.gridcontainer {
    display: grid;
    grid-template-columns: 300px auto auto 300px;
    grid-template-rows: 40px 250px 250px 250px;
}

#title-left {
    grid-column-start: 1;
    grid-row-start: 1;
    justify-self: left; 
    align-self: center;
}

#title-right {
    grid-column-start: 4;
    grid-row-start: 1;
    justify-self: right;
    align-self: center;  
}

.selectors-left {
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 2;
}
.selectors-right {
    grid-column-start: 4;
    grid-row-start: 2;
    grid-row-end: 2;
    justify-self: right;
}

#totalco2container-left {
    grid-column-start: 2;
    grid-row-start: 1;
    justify-self: center;
}

#totallandcontainer-left {
    grid-column-start: 2;
    grid-row-start: 4;
    justify-self: center;
    align-self: top;
}

#totalco2container-right {
    grid-column-start: 3;
    grid-row-start: 1;
    justify-self: center;
}

#totallandcontainer-right {
    grid-column-start: 3;
    grid-row-start: 4;
    justify-self: center;
    align-self: top;
}

#vizcontainer-co2-left {
    grid-column-start: 2;
    grid-row-start: 2;
    justify-self: center;
}

#vizcontainer-co2-right {
    grid-column-start: 3;
    grid-row-start: 2;
    justify-self: center;
}

#vizcontainer-land-left {
    grid-column-start: 2;
    grid-row-start: 3;
    justify-self: center;
}

#vizcontainer-land-right {
    grid-column-start: 3;
    grid-row-start: 3;
    justify-self: center;
}
#bord-left {
    grid-column-start: 1;
    grid-row-start: 3;
    grid-row-end: 5;
    justify-self: center;
    align-self: center;
}
#bord-right {
    grid-column-start: 4;
    grid-row-start: 3;
    grid-row-end: 5;
    justify-self: center;
    align-self: center;
}

select {
    width: 200px;
    display: block;
    margin-bottom: 5px;
}

h2 {
    text-anchor: middle;
}

.legend-item {
    font-size: 26px;
    color: white;
    padding: 10px;
    border: 1px white solid;
}

rect {
    stroke: white;
    stroke-width: 1;
}

.domain {
    stroke-width: 0;
}

div.tooltip {	
    padding: 12px;
    position: absolute;		
    width: 150px;																
    background: #00374D;	
    border: 0px;				
    pointer-events: none;
    color: #ffffff;			
}

.tick line {
    stroke: "#cccccc";
}